h1{
  color: #ed4040;
  text-align: center;
   font-style: italic;
   font-size: 90px;
  }

  h2{
    font-style: italic;
    }


body {
  background-color:#fce4e3 ;


}

#header{
  margin-left: auto;
  margin-right: auto;
  width:1000px;

}

.list{
  text-align: center;
  display: inline-block;
  width:200px;
  border: 1px solid black;
}
